<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" cellpadding="10">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
         <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.salary }}</td>
            <td>{{ emp.dept_no }}</td>
         </tr>

    </table>    
</body>
</html>