<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email_Id</th>
            <th>Age</th>
        </tr>
        {% for data in datas %}
            <tr>
                {% for d in data %}
                    <td>{{ d }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button onclick="activate()">Submit</button>
    <script src="{{ url_for('static',filename='css/js/script.js')}}"></script>
</body>
</html>